/*Todo el documento, generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  /*background-color: azure;*/
  background-color: rgb(28, 39, 39);
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/*Nav bar*/
nav {
  /*background-color: rgb(28, 39, 39);*/
  height: 50px;
  width: 100%;
}
nav ul li {
  display: inline-block;
  line-height: 45px;
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

nav ul li:last-child {
  text-align: right;
  float: right;
}
nav ul li button {
  background: rgb(4, 170, 109);
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-radius: 3px;
}
nav ul li button:hover {
  background: none;
  color: rgb(4, 170, 109);
  cursor: pointer;
}
nav ul li a:hover {
  color: white;
  background: rgb(4, 170, 109);
}

/*section-img-header*/
.img-section {
  color: white;
  width: 100%;
  height: 200px;
  justify-content: center;
  text-align: center;
  background-image: url("../img/imagen-banner.jpg");
  background-size: cover;
}
.img-section p {
  font-size: 30px;
}
.img-section p:last-child {
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
  font-size: 110px;
  letter-spacing: 50px;
}
/*section-movies*/
.section-movies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.movie-box {
  background-color: black;
  width: 24%;
  margin: 15px;
  float: left;
  height: 410px;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.movie-box:hover {
  margin-bottom: 100px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translate(0px, -8px);
  transition: 0.6s;
}
.movie-card {
  margin-left: 2%;
  width: 95%;
  height: 95%;
}

/*drop down horarios*/
.dropdown {
  justify-content: center;
}
.dropdown img {
  width: 100%;
  height: 100%;
}
.dropdown-schedules {
  display: none;
}

.dropdown:hover .dropdown-schedules {
  display: block;
  border-bottom-right-radius: 10px;
  border: 5px solid black;
}

.desc {
  text-decoration: underline;
  background-color: rgb(4, 170, 109);
  color: white;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.desc a {
  color: white;
}
.desc a:hover {
  border: 5px solid rgb(28, 39, 39);
  background-color: rgb(28, 39, 39);
  border-radius: 5px;
  color: rgb(4, 170, 109);
}

/*login*/
.form {
  background: #222;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 150px;
  max-width: 50%;
}
.form h1 {
  color: azure;
  text-align: center;
}
.login-text {
  color: white;
  text-align: center;
}

.input-login-register {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  width: calc(100% - 3rem);
}

textarea{
  width: 100%;
  height: 150px;
  display: block;
  resize: none;
}

.login-submit {
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 2px;
  padding: 10px;
}
.login-submit:hover {
  cursor: pointer;
}
/*register*/

/*footer*/
footer {
  background: black;
  height: 60px;

  color: white;
  text-align: center;
  position: relative;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
}
footer a:hover {
  color: rgb(4, 170, 109);
}
