<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MoviesListService</servlet-name>
        <servlet-class>services.MoviesListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomService</servlet-name>
        <servlet-class>services.RoomService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildRoomService</servlet-name>
        <servlet-class>services.BuildRoomService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>services.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleMovieService</servlet-name>
        <servlet-class>services.ScheduleMovieService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieService</servlet-name>
        <servlet-class>services.MovieService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeBillboardMovieStatus</servlet-name>
        <servlet-class>services.ChangeBillboardMovieStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaService</servlet-name>
        <servlet-class>services.CinemaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaRoomService</servlet-name>
        <servlet-class>services.CinemaRoomService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionService</servlet-name>
        <servlet-class>services.FunctionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceListService</servlet-name>
        <servlet-class>services.InvoiceListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistoryService</servlet-name>
        <servlet-class>services.UserHistoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieImageService</servlet-name>
        <servlet-class>services.MovieImageService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieService</servlet-name>
        <servlet-class>services.AddMovieService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillboardService</servlet-name>
        <servlet-class>services.BillboardService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionBillboardService</servlet-name>
        <servlet-class>services.FunctionBillboardService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketListService</servlet-name>
        <servlet-class>services.TicketListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupService</servlet-name>
        <servlet-class>services.SignupService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionSeatsService</servlet-name>
        <servlet-class>services.FunctionSeatsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseService</servlet-name>
        <servlet-class>services.PurchaseService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoviesListService</servlet-name>
        <url-pattern>/MoviesListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomService</servlet-name>
        <url-pattern>/RoomService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildRoomService</servlet-name>
        <url-pattern>/BuildRoomService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleMovieService</servlet-name>
        <url-pattern>/ScheduleMovieService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieService</servlet-name>
        <url-pattern>/MovieService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeBillboardMovieStatus</servlet-name>
        <url-pattern>/ChangeBillboardMovieStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaService</servlet-name>
        <url-pattern>/CinemaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaRoomService</servlet-name>
        <url-pattern>/CinemaRoomService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionService</servlet-name>
        <url-pattern>/FunctionService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceListService</servlet-name>
        <url-pattern>/InvoiceListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistoryService</servlet-name>
        <url-pattern>/UserHistoryService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieImageService</servlet-name>
        <url-pattern>/MovieImageService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieService</servlet-name>
        <url-pattern>/AddMovieService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillboardService</servlet-name>
        <url-pattern>/BillboardService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionBillboardService</servlet-name>
        <url-pattern>/FunctionBillboardService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketListService</servlet-name>
        <url-pattern>/TicketListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupService</servlet-name>
        <url-pattern>/SignupService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionSeatsService</servlet-name>
        <url-pattern>/FunctionSeatsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseService</servlet-name>
        <url-pattern>/PurchaseService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
